/* ======== NAVBAR ======== */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(10, 10, 10, 0.85);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid rgba(255, 0, 0, 0.3);
    padding: 8px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.navbar .logo {
    font-size: 1.1rem;
    color: #ff3b3b;
    text-shadow: 0 0 10px red;
}

/* NAV LINKS */
.navbar nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar a {
    color: #ff7777;
    text-decoration: none;
    font-size: 0.78rem;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    gap: 4px;
    transition: 0.2s;
    white-space: nowrap; /* evita que se parta el texto */
}

.navbar a:hover {
    color: #fff;
    text-shadow: 0 0 10px red;
}

.footer {
    margin-top: 60px;
    padding: 20px;
    text-align: center;
    color: #aaa;
    font-size: 0.85rem;
    border-top: 1px solid rgba(255, 0, 0, 0.3);
    background: rgba(10, 10, 10, 0.4);
}

.footer .social a {
    margin: 0 10px;
    color: #ff7777;
    text-decoration: none;
    font-size: 1rem;
}

.footer .social a:hover {
    color: #fff;
    text-shadow: 0 0 10px red;
}


/* RESPONSIVE */
@media (max-width: 850px) {
    .navbar a {
        font-size: 0.7rem;
        padding: 2px 4px;
    }
}
