.page-header {
  margin: 8px 0 18px;
}
.page-header .page-title {
  font-size: 1.8rem;
  margin: 0;
}

.page-title {
  text-align: center;
  color: #ff3b3b;
  font-size: 40px;
  font-weight: 900;
  padding: 0px;
  text-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
  font-family: "Orbitron", sans-serif;
}

.page-subtitle-main {
  text-align: center;
  font-size: 20px;
  color: #ccc;
  margin-top: -5px;
  margin-bottom: 20px;
  opacity: 0.9;
  padding: 20px;
}

@media (max-width: 768px) {
  .page-title { font-size: 28px; padding: 10px; }
  .page-subtitle-main { font-size: 16px; padding: 10px; }
}

@media (max-width: 480px) {
  .page-title { font-size: 22px; padding: 5px; }
  .page-subtitle-main { font-size: 14px; padding: 8px; }
}
